<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header class="flex">
      <button>
        <a href="/article">Home</a>
      </button>
      <h1>Artical Details</h1>
      <button>
        <a href="/article/new"> Add New Article </a>
      </button>
    </header>
    <main class="article-view">
      <h2><%= article.title %></h2>
      <h3><%= article.author %></h3>
      <% article.tags.forEach(t => { %>
      <span><%= t %> </span>
      <% }) %>
      <p><%= article.description %></p>
      <h3><%= article.likes ? article.likes:0 %></h3>
      <div class="flex">
        <a href="/article/<%= article.id %>/likes">
          <button class="like">Like</button>
        </a>
        <a href="/article/<%= article.id %>/dislike">
          <button class="dislike">Dislike</button>
        </a>
      </div>
      <div class="flex">
        <a href="/article/<%= article.id %>/edit ">
          <button class="edit">Edit</button>
        </a>
        <a href="/article/<%= article.id %>/delete">
          <button class="delete">Delete</button>
        </a>
      </div>
    </main>
  </body>
</html>
